.contenedor {
  background: rgb(15, 23, 43);
}

.nickName {
  color: #00D492;
  font-weight: 450;
  margin-bottom: -5px;
  font-size: 1.2rem;
}

.date {
  color: #53647D;

}

.imagePost {
  height: 400px;
  object-fit: cover;
}

.linkOverlay {
  position: absolute;
  inset: 0;
  /* equivale a top:0; left:0; width:100%; height:100%; */
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0.375rem;

  text-decoration: none;
  transition: all 0.25s ease-in-out;
}

/* Efecto al hacer clic o tocar */
.linkOverlay:active {
  transform: scale(0.95);
}

/* (Opcional) Efecto hover */
.linkOverlay:hover {
  background-color: rgba(0, 0, 0, 0.5);
}