.botonCerrarSesion {
  color: #FF6467;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 8px;
  border-radius: 5px;
  padding: 5px;
}

.botonCerrarSesion:hover {
  background-color: #1A1E28;
  color: #FFA2A2;
}

.botonIniciarSesion {
  text-decoration: none;
  display: flex;
  gap: 8px;
  align-items: center;
  color: inherit;
  color: #00D492;
}

.botonCerrarSesion:hover{
  background-color: #1A1E28;
  color: #a9c2ba;
}