.divLogo{
    width: 40px;
    height: 40px;
    display: flex;                /* Centra el contenido */
    justify-content: center;      /* Centra horizontalmente */
    align-items: center;          /* Centra verticalmente */
    overflow: hidden;
    border-radius: 8px;
}

.logo{
    background: transparent;
    height: auto;
    width: 28px;
}

.redSocial{
    color: #00D492 !important;
    margin-left: 15px !important;
}

@media (max-width: 560px){
    .contenedorLogo p{
        display: none;
    }
    .contenedorLogo{
        margin-left: -50px;
    }
}