.SideBar {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1000;
    top: 60px;
    right: 0;
    background-color: #0F172B;
    padding: 20px;
    transition: all 0.3s ease;
}


.MenuToggle {
    display: none;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 1002;
    padding: 0;
}

.SideBar p {
    color: rgb(104, 152, 167);
    text-align: left;
    margin-left: 15px;
    font-size: 12px;
    margin-bottom: 0.5rem;
}

.NavLink {
    display: flex;
    align-items: center;
    gap: 8px;
    color: rgb(202, 213, 226);
    text-decoration: none;
    padding: 0.6rem 1rem;
    border-radius: 10px;
    font-size: small;
    transition: background-color 0.2s, transform 0.1s;
    margin-top: 5px;
}

.activo {
    background-color: rgb(0, 153, 102);
}

.NavLink:hover:not(.activo) {
    background-color: #b0b0b05c;
}

@media (max-width: 992px) {

    .MenuToggle {
        display: block;
    }

    .SideBar {
        top: 65px;
        right: 1rem;
        width: 54px;
        height: 50px;
        padding: 0;
        background-color: #0F172B;
        border-radius: 50%;
        overflow: hidden;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .NavLinksContainer {
        display: none;
    }

    .SideBar.abierto {
        width: 90%;
        max-width: 300px;
        height: auto;
        border-radius: 8px;
        padding: 20px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

    }

    .SideBar.abierto .NavLinksContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .SideBar.abierto .MenuToggle {
        position: absolute;
        top: 10px;
        right: 15px;
    }
}