.Header {
    display: flex;
    position: fixed;
    height: 60px;
    margin-bottom: 50px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #0F172B;
    padding: 0px 100px;
    border-bottom: solid 1px rgb(49, 65, 88);
}

.Header p{
    margin: auto;
}