.postContainer {
  max-width: 700px;
  padding-top: 1.5rem;
}

.postCard {
  background: var(--color-contenedor);
  border: var(--borde);
  border-radius: 8px;
  color: var(--color-texto);
  margin-bottom: 1.5rem;
  padding: 1rem;
}

.postCard .card-header {
  padding: 0 0 1rem 0; 
  margin-bottom: 1rem; 
  border-bottom: 1px solid var(--borde); 
}

.nickName {
  color: var(--color-verde);
  font-weight: 450;
  margin-bottom: -5px;
  font-size: 1.2rem;
}

.date {
  color: #53647d;
  font-size: 0.9rem;
}

.description {
  font-size: 1.1rem;
  white-space: pre-wrap;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.tagBadge {
  margin-top: 10px;
  background-color: rgba(4, 47, 46, 0.5);
  color: #6ee7b7;
  border: 1px solid rgba(16, 185, 129, 0.4);
  font-size: 0.85rem;
  padding: 0.25rem 0.6rem;
  border-radius: 4px;
}

.carousel {
  border-radius: 8px;
  overflow: hidden;
  background-color: #000;
}

.carouselImage {
  max-height: 500px;
  object-fit: contain; 
  width: 100%;
}

.postCard .card-body {
  padding: 0;
}

.commentInput {
  background-color: #151B29 !important;
  border-color: #314158 !important;
  color: #ffffff !important;
}

.commentInput:focus {
  border-color: #6c757d !important;
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.25);
  background-color: #151B29 !important;
}

.commentInput::placeholder {
  color: rgb(161, 161, 161);
}

.commentsList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 15px;
}

/*Modificacion de flechas e indicadore tanto imagenes como color, y forma en los inficadores*/

:global(.carousel-control-prev-icon) {
  background-image: url("https://img.icons8.com/?size=100&id=MqVUKnfYkSpO&format=png&color=000000");
}

:global(.carousel-control-next-icon){
   background-image: url("https://img.icons8.com/?size=100&id=5xG5QSwiae0d&format=png&color=000000");
}

:global(.carousel-control-prev .carousel-control-prev-icon),
:global(.carousel-control-next .carousel-control-next-icon) {
  background-color: rgba(133, 150, 233, 0.336); /* círculo semitransparente */
  border-radius: 50%; /* forma de círculo */
  backdrop-filter: blur(2px); /* da un efecto de vidrio esmerilado */
}

:global(.carousel-control-prev:hover .carousel-control-prev-icon),
:global(.carousel-control-next:hover .carousel-control-next-icon) {
  background-color: rgba(153, 166, 235, 0.473); /* círculo semitransparente */
  border-radius: 50%; /* forma de círculo */
  padding: 15px; /* agranda el área del círculo */
  backdrop-filter: blur(2px); /* da un efecto de vidrio esmerilado */
}

/* Posición y espaciado general */
:global(.carousel-indicators) {
  bottom: 10px;
  gap: 8px;
}

/* Indicadores inactivos (barras verdes) */
:global(.carousel-indicators [data-bs-target]) {
  width: 26px;
  height: 4px;
  border-radius: 4px;
  border: none;
  transition: all 0.6s ease-in-out;
}

/* Hover: */
:global(.carousel-indicators [data-bs-target]:hover) {
  background-color: rgba(0, 212, 145, 0.411);
  transform: scale(1.1);
}

/* Indicador Activo se convierte en círculo */
:global(.carousel-indicators .active) {
  background-color: #00d4919d; /* Verde principal */
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: scale(1.3);
  transition: all 0.6s ease-in-out;
}