:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  --color-texto: rgba(255, 255, 255, 0.87);
  --color-fondo: rgb(2, 6, 24);

  --color-contenedor: rgb(15, 23, 43);
  --color-verde: #00D492;
  
  --borde: solid 1.5px #304057;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--color-fondo);
  color: var(--color-texto);

  margin: 0 100px 0 100px;
}

@media (max-width: 992px) {
  body {
  margin-right: 0px;
  margin-left: 0px;
}
}